

   
<h2 class="text-center">Teacher List</h2>
<div ng class="container" >
    <input type="text" [(ngModel)]="term" placeholder="Search Here..">
      
<table class="table table-striped">
<thead >
    <tr >
      <th> Id</th>
      <th> First Name</th>
      <th> Last Name</th>
      <th> Email</th>
      <th> Contact</th>
      <th> User Name</th>
      <th> Password</th>
      <th> Actions</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let teacher of teachers |filter:term"  >
        <td>  {{teacher.id}}</td>
        <td >  {{teacher.firstName}}</td>
        <td >  {{teacher.lastName}}</td>
        <td >  {{teacher.email}}</td>
        <td>  {{teacher.contact}}</td>
        <td >  {{teacher.userName}}</td>
        <td >  {{teacher.password}}</td>
        <td > <button class = "btn btn-info" (click)="updateTeacher(teacher.id)">Edit</button></td>
        <td> <button class = "btn btn-danger"(click)="deleteTeacher(teacher.id)">Delete</button></td>
        <td>  <button class="btn btn-info"(click)="onClick(teacher.id)"> View </button></td>
        
    </tr>
</tbody>

</table>

</div>
