<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><h1>CMS</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create-course">Create Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create-teacher">Create Teacher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teachers">Teacher List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/courses">Course List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/assign">Assign</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>