<h3 class="text-center"><u>Update Course</u></h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="form-group">
            <label>Subject Id:</label>
            <input formControlName="subId" type="text" class="form-control" id="subId" name="subId" [(ngModel)]="course.subId">
        </div>
        <div *ngIf="f['subId'].touched && f['subId'].invalid" class="alert alert-danger">
            <div *ngIf="f['subId'].errors && f['subId'].errors['required']">
                Subject Id is mandatory**
            </div>
            <div *ngIf="f['subId'].errors && f['subId'].errors['minlength']">
              Please Enter the correct Subject Id**
            </div>
        </div>



        <div class="form-group">
            <label>Subject Name:</label>
            <input formControlName="subname" type="text" class="form-control" id="fname" name="subname" [(ngModel)]="course.subName">
        </div>
        <div *ngIf="f['subname'].touched && f['subname'].invalid" class="alert alert-danger">
            <div *ngIf="f['subname'].errors && f['subname'].errors['required']">
                Subject Name is mandatory**
            </div>
            <div *ngIf="f['subname'].errors && f['subname'].errors['minlength']">
              Please Enter the correct Subject Name**
            </div>
        </div>
       
        <div class="form-group">
            <label>Price:</label>
            <input formControlName="price" type="text" class="form-control" id="price" name="price" [(ngModel)]="course.price">
        </div>
        <div *ngIf="f['price'].touched && f['price'].invalid" class="alert alert-danger">
            <div *ngIf="f['price'].errors && f['price'].errors['required']">
               Price is mandatory**
            </div>
            <div *ngIf="f['price'].errors && f['price'].errors['minlength']">
              Please Enter the price**
            </div>
        </div>
        <br>
     <button class="btn btn-success" type="submit">Submit</button>

    </div>
  </form>










